<form name="container-name" method="POST" action="/students/handlebar-formAction">
    <div class="d-flex checkbox-size">
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkbox-all">
            <label class="form-check-label" for="checkbox-all">Check all</label>
        </div>
        <select class="form-select form-select-sm" name="action" required>
            <option value="" selected>Open this select menu</option>
            <option value="restore">Khôi phục</option>
            <option value="forceDelete">Xóa vĩnh viễn</option>
        </select>
        <button class="btn btn-primary btn-sm check-all-submit-btn disabled">Oke</button>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">#</th>
                <th scope="col">Tên</th>
                <th scope="col">Tuổi</th>
                <th scope="col" colspan="2">Địa chỉ</th>
            </tr>
        </thead>
        <tbody>
            {{#each students}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="ids[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.age}}</td>
                <td>{{this.address}}</td>
                <td>
                    <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}"
                        data-target="#delete-student-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5">
                    Thùng rác trống
                    <a href="/me/stored/students">Danh sách sinh viên</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>
{{!-- Confirm delete student --}}
<div id="delete-student-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa sinh viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Bạn chắc chắn muốn xóa vĩnh viễn sinh viên này?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-student" type="button" class="btn btn-danger">Xóa bỏ</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>

<form name="delete-student-form" method="post"></form>
<form name="restore-student-form" method="post"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var studentId;
        var checkboxAll = $('#checkbox-all');
        var studentCheckbox = $('input[name="ids[]"]');
        var btnRestore = $('.btn-restore');
        var checkSubmitBtn = $('.check-all-submit-btn');
        var deleteForm = document.forms['delete-student-form'];
        var restoreForm = document.forms['restore-student-form'];

        // get id from delete button
        $('#delete-student-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            studentId = button.data('id');
        });
        // btn forceDelete clicked
        var btnDeleteStudent = document.getElementById('btn-delete-student');
        btnDeleteStudent.onclick = function () {
            deleteForm.action = '/students/' + studentId + '/force' + '?_method=DELETE';
            deleteForm.submit();
        };

        // btn restore clicked
        btnRestore.click(function (e) {
            e.preventDefault();
            studentId = $(this).data('id');
            restoreForm.action = '/students/' + studentId + '?_method=PATCH';
            restoreForm.submit();
        });

        // checkboxAll changed
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            studentCheckbox.prop('checked', isCheckedAll);
            btnSubmitDisabled();
        })

        // any checkbox changed
        studentCheckbox.change(function () {
            var isCheckedAll =
                studentCheckbox.length === $('input[name="ids[]"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            btnSubmitDisabled();
        })

        // btn checkboxes submit
        checkSubmitBtn.on('submit', function (e) {
            var isSubmittable = !checkSubmitBtn.hasClass('disabled');
            if (isSubmittable) {
                e.preventDefault();
            }
        })

        function btnSubmitDisabled() {
            var checkboxCheckedLength = $('input[name="ids[]"]:checked').length;
            if (checkboxCheckedLength > 0) {
                checkSubmitBtn.removeClass('disabled');
            }
            else {
                checkSubmitBtn.addClass('disabled');
            }
        }


    });
</script>